@keyframes pulse-dot {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animationRotate {
	animation: rotate 10s linear infinite;
}

.Light {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	background-color: #ff8903;
	box-shadow: 0 0 10px 4px rgb(255, 140, 0, 0.8);
	border-radius: 50%;
	animation: pulse-dot 2s linear infinite;
}

.lightContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 140px;
}

.container {
	position: fixed;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #030712, #101828, #000);
	background-color: #101828;
	inset: 0;
}

.title {
	margin-top: 0.5rem;
	font-weight: bold;
	font-size: 2.5rem;
	color: white;
}

.moltenText {
	color: transparent;
	background: linear-gradient(135deg, #f0b100 0%, #ff8903 50%, #f54900 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
