/* --- TailwindCSS Import --- */
@import 'tailwindcss';
@import './root.css';
@import './fonts.css';

/* --- Fonts --- */
@font-face {
	font-family: 'Inter Tight', sans-serif;
	src: url('/public/fonts/inter-tight/InterTight-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter Tight', sans-serif;
	src: url('/public/fonts/inter-tight/InterTight-Italic-VariableFont_wght.ttf');
	font-style: italic;
	font-weight: 400;
}

/* --- Global Styles --- */
body {
	font-family: 'Inter Tight', sans-serif;
	background: linear-gradient(to bottom, #030712, #101828, #000);
	background-color: var(--blue-black);
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--white) !important;
	transition: background-color 9999999s ease 0s;
}

*:focus {
	outline: none !important;
}
