/* --- TailwindCSS Import --- */
@import 'tailwindcss';

/* --- Root --- */
:root {
	--main-background-color: #1e1e1e;
	--hot-orange: #ff6b00;
	--white: #d3d3d3;
	--react-blue: #61dafb;
	--html-orange: #e34f26;
	--js-yellow: #f7df1e;
	--node-green: #539e43;
	--css-blue: #264de4;
	--ts-blue: #3178c6;

	/* resersed var */
	--dotted-loader-shadow-offset: '20px';
}

/* --- Fonts --- */
@font-face {
	font-family: 'Inter Tight', sans-serif;
	src: url('/public//fonts/inter-tight/InterTight-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter Tight', sans-serif;
	src: url('/public/fonts/inter-tight/InterTight-Italic-VariableFont_wght.ttf');
	font-style: italic;
	font-weight: 400;
}

/* --- Global Styles --- */
body {
	font-family: 'Inter Tight', sans-serif;
	background-color: var(--main-background-color);
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--white) !important;
	transition: background-color 9999999s ease 0s;
}

*:focus {
	outline: none !important;
}
